body {
	font-family: "Josefin Slab", serif;
	background-color: #cedbe6;
}

/* Header */

header,
p {
	font-size: 20px;
}

.logo {
	margin-top: 20px;		
}

@media screen and (max-width: 650px) {
	.logo{
		width: 75px;
	}
}

/* Content */

.sepration {
	border-width: 3px;
}

@media screen and (min-width: 768px) {
	.container {
		width: 100%;
	}
}

@media screen and (min-width: 992px) {
	html,
	body,
	.container {
		width: 992px;
		margin: auto;
		
	}
}