* {
	font-family: 'Josefin Slab', serif;	
}

header, p {
	font-size: 20px;
}

body {
	background-color: #cedbe6;
}

.logo {
	margin-top: 20px;		
}
	
.sepration {
	border-width: 3px;
}

@media screen and (min-width: 992px) {
	html, body, .container {
		width: 992px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 650px) {
	.logo{
		width: 75px;
	}
}